<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="column">
                <a href="index.html" class="logo">
                    Mekashron
                </a>
                <p>
                    <b>Boost Efficiency, Cut Costs, and Accelerate Growth</b> <br> Powered by AI partner with 20
                    years of experience, <br> you can <b>Trust</b>
                </p>
            </div>
            <div class="column">
                <div class="footer__actions">
                    <nav class="footer__nav">
                        <ul class="footer__nav--list">
                            <li><a href="#">Products</a></li>
                            <li><a href="#">Solutions</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Indusries</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </nav>
                    <div class="column">
                        <nav class="footer__links">
                            <ul class="footer__links--list">
                                <li>
                                    <a href=" https://wa.me/#" target="_blank">
                                        <img src="assets/images/icons/whatsapp-icon.svg" alt="whatsapp">
                                        Contact us by
                                        WhatsApp</a>
                                </li>
                                <li>
                                    <a href="mailto:info@mekashron.com">
                                        <img src="assets/images/icons/mail.svg" alt="mail">
                                        info@mekashron.com
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <button class="language" id="language_btn">
                            <ul id="language-menu" class="language__list">
                                <li id="menu-item-113" class="">
                                    <a href="#pll_switcher">
                                        <img src="assets/images/icons/country/USA.svg" alt="USA" width="16"
                                            height="11">
                                        <span>English</span></a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-113-en" class="">
                                            <a href="#" hreflang="en-GB" lang="en-GB">
                                                <img src="assets/images/icons/country/USA.svg" alt="USA"
                                                    width="16" height="11">
                                                <span>English</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#pll_switcher">
                                                <img src="assets/images/icons/country/Ukraine.svg" alt="Ukraine"
                                                    width="16" height="11">
                                                <span>Українська</span></a>
                                        </li>
                                        <li id="menu-item-113-ru" class="">
                                            <a href="#" hreflang="ru-RU" lang="ru-RU">
                                                <img src="assets/images/icons/country/Russia.svg" alt="Russia"
                                                    width="16" height="11">
                                                <span>Русский</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy">
            <p>© 2025 Mekashron. All rights reserved.</p>
        </div>
    </div>
</footer>