<header class="header">
    <div class="container">
        <div class="header__inner">
            <button class="burger" id="burgerButton">
                <img src="assets/images/icons/burger.svg" alt="menu">
            </button>
            <a href="index.html" class="logo">
                Mekashron
            </a>

            <nav class="header__navigation navigation">
                <ul class="navigation__list">
                    <li class="menu-item ">
                        <a href="download.html">Solutions </a>

                    </li>

                    <li class="menu-item">
                        <a href="delivery.html">Products </a>
                    </li>
                    <li class="menu-item">
                        <a href="blog.html">Industries</a>
                    </li>
                    <li class="menu-item">
                        <a href="payment.html">About </a>
                    </li>
                    <li class="menu-item">
                        <a href="payment.html">Contacts </a>
                    </li>
                </ul>
            </nav>
            <div class="header__actions row">
                <a href="#" class="button">Get in Touch</a>
            </div>
        </div>
</header>