<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes"> <!-- Для Android -->
    <meta name="apple-mobile-web-app-capable" content="yes"> <!-- Для iOS -->

    <title>Mekashron</title>
    <link rel="icon" type="image/png" href="@(Url.Content("~/assets/images/favicon.png"))">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="@(Url.Content("~/assets/css/swiper-bundle.min.css"))">
    <link rel="stylesheet" href="@(Url.Content("~/assets/css/style.css"))">
</head>